@model jjs.Models.Designer

@{
    ViewBag.Title = "设计师详情页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>查看设计师</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPhoto)
        </dt>

        <dd>
            <img src=@Model.DPhoto style="width:100px;height:100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUniversity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUniversity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIdea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIdea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DExtend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DExtend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSortNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSortNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InDateTime)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表页", "Index")
</p>
