@model jjs.Models.ArticleContent


@{
    ViewBag.Title = "查看详情页-" + @ViewBag.TypeText;
}

<h2>查看 @ViewBag.TypeText</h2>
<p style="float:right">
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id, type = ViewBag.TypeNum }) |
    @Html.ActionLink("返回列表", "Index", new { type = ViewBag.TypeNum })
</p>
<div>
    <hr />
    @Html.HiddenFor(model => model.ACSortNum, Model.ACSortNum)
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ACTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ACTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AContent)
        </dt>
    </dl>
</div>
@Html.Raw(ViewBag.Content)

